@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.options > button {
  @apply w-full h-48 m-1 text-base p-2.5 rounded-lg max-w-64 font-mono text-black bg-white hover:bg-gray-400
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #79797b;
  padding: 10px 20px;
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  border-radius: 0 10px 10px 0;
  transition: left 0.3s ease;
  box-sizing: border-box;
  z-index: 1000;
  align-items: center;
  transition: left 0.5s ease-in-out;
}

.sidebar.hidden {
  left: -225px;
}

.sidebar.visible {
  left: 0;
}

.sidebar h1 {
  all: unset;
}

.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 24px;
  z-index: 2000;
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  color: #f0f0f0;
  transition: left 0.5s ease-in-out;
}


.menu-icon:hover {
  opacity: 0.75;
}

.sidebar .app-name {
  margin: 20px 0 -20px;
  font-weight: 800;
  font-size: 16px;
  font-style: italic;
  color: #e0e0e0;
  text-align: center;
  align-self: center;
}

.sidebar ul {
  list-style: none;
  padding: 20px 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
  max-width: 100%;
  transition: ease-in-out 0.5s;
  padding: 10px 10px;
}

.sidebar ul li:hover {
  background-color: hsla(0, 0%, 30%, 1);
  border-radius: 5px;
}

.sidebar a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100vw;
    height: 100vh;
    left: 0;
  }

  .sidebar.hidden {
    left: -100vw;
  }

  .app-container {
    margin-left: 0;
  }

  .app-container.sidebar-visible {
    margin-left: 100vw;
  }

  .sidebar .app-name {
    font-size: 20px;
  }
}
