body{
  margin: 0;
}

.app-container {
  min-height: 100vh;
  width: 100%;
  background-color: #383838;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 40px;
}

.logout-button {
  background: none;
  border-radius: 20px; 
  font-size: 18px;
  color:#e0e0e0;
  margin-left: auto;
  transition: ease-in-out 0.5s;
}

.app-name{
  font-size: 20px;
  font-style: italic;
  color: #e0e0e0;
  text-align: center;
  align-self: center;
  flex-grow: 1;
}

.search-bar {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 20px;
}

.search-bar input {
  padding: 10px;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-size: 16px;
  width: 50vw;    
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.option-button {
  width: 100%;
  max-width: 250px;
  height: 200px;
  border-radius: 10px;
  margin: 5px;
  border: 1px solid black;
  transition: 0.5s ease-in-out;
  font-family: Montserrat;
  font-size: 16px;
  padding: 10px;
}

.option-button:hover{
  background-color: hsl(0, 0%, 50%);
}


/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #79797b;
  padding: 10px 20px;
  width: 220px;
  height: 100vh;
  position: fixed;
  top: 0;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  box-sizing: border-box;
  z-index: 1000;
  align-items: center;
  transition: left 0.5s ease-in-out;
}

.sidebar.hidden {
  left: -225px;
}

.sidebar.visible {
  left: 0;
}

.sidebar h1{
  all: unset;
}

.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 24px;
  z-index: 2000;
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  color: #f0f0f0;
  transition: left 0.5s ease-in-out;
}


.menu-icon:hover{
  opacity: 0.75;
}

.sidebar .app-name{
  font-size: 1em;
}

.sidebar ul{
  list-style: none;
  padding: 20px 0;
}

.sidebar ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin: 20px 0;
  max-width: 100%;
  transition: ease-in-out 0.5s;
  padding: 10px 10px;
}

.sidebar ul li:hover{
  background-color: hsla(0, 0%, 30%, 1);
  border-radius: 5px;
}

.sidebar a{
  font-size: 1.25rem;
  text-decoration: none;
  color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 100vw;
    height: 100vh; 
    left: 0; 
  }

  .sidebar.hidden {
    left: -100vw;
  }

  .app-container {
    margin-left: 0;
  }

  .app-container.sidebar-visible {
    margin-left: 100vw;
  }
}